.book-details-container {
    cursor: pointer;
}

.book-details-container .author-details {
    width: 90%;
}

.search-box {
    margin: 20px;
}

.book-details .book-image {
    width: 183px;
    height: 247px;
}